.section1{
    // margin-inline: 160px;
    // background-image: url(../media/slider-img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    // display: flex;
    // flex-direction: column;
    // margin-top: 18px;
   
    min-width: 100%;
    position: relative;
    .button-scroll{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 536px;
    // border: 1px solid ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    flex-wrap: wrap;
    div{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        transition-duration: .3s;
    }
    }
    .dot-scroll{
        display: flex;
        gap: 16px;
        // margin-top: -50px;
        .dot-scroll div{
            border: 1px black;
            background-color: #141718;
            border-radius: 50%;
            width: 8px;
            height: 8px;  
        }
    }
}
@media (max-width:1200px){
    .container{
        width: 100vw;   
    }
    .section1{
        background-size: auto;
    }
}
@media (max-width:500px){
    .container{
       padding-inline: 32px ;
      
    }
    // .button-scroll{
    //     width: 100%;
    // }
    .section1 img{
        width: 311px;
        height: 304px;
        object-fit:cover;
    }
    .section1{
        background-size: auto;
    }
}
header{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    h1{
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        width: 643px;
        height: 152px;
        font-size: 7.2rem;
        line-height: 7.6rem;
        margin-top: 32px;
        color: #141718;
        span{
            color: #6C7275;
        }
    }
    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        color: #6C7275;
        margin-top: 82px;
        width: 424px;
        height: 52px;
        line-height: 2.6rem;
        span{
            color: #141718;
        }
    }
}
@media (max-width:1092px){
    .header-1 h1{
        width: 100vw;
        font-size: 4.5rem;
        height: 90px;
    }
    .header-2 p{
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    header{
        gap: 20px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rooms img{
        width: 100vw;
        // margin: auto;
        margin-top: 10px;
        width: 100%;
    }
    .section1{
        background-size: auto;
    }
    
}
@media (max-width:510px){
    .header-1 h1{
        width: 100vw;
        font-size: 4rem;
        line-height: 4.4rem;
        height: 80px;
        width: 100%;
        
    }
    .rooms{
        margin-top: -100px;
    }
    .scroll-img{
        width: auto;
        height: 304px;
    }
    
    .header-2 p{
        font-size: 1.1rem;
        width: 300px;
        line-height: 1.5rem;
        margin-top: 10px;
        margin-bottom: 0;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
        margin: auto;
    }
    header{
        column-gap: 16px;
       margin: auto;
    }
    .section1{
        background-size: auto;
    }
}
.rooms{
   display: flex; 
   gap: 22px;
   flex-wrap: wrap;
   margin-top: 40px;
   .img2{
    display: flex;
    flex-direction: column;
    row-gap: 22px;
   } 
   
}
@media (max-width:1119px){
    .rooms img{
        width: 100vw;
        // margin: auto;
        width: 100%;
        margin-top: 10px;
    }
}
.button-scroll div:hover span{
    color: #6C7275;
    cursor: pointer;
    font-size: 25px;
}

